<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bubble_DownloadLog>
            <version>1.0.0</version>
        </Bubble_DownloadLog>
    </modules>
    <global>
        <resources>
            <bubble_downloadlog_setup>
                <setup>
                    <module>Bubble_DownloadLog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bubble_downloadlog_setup>
        </resources>
        <blocks>
            <bubble_downloadlog>
                <class>Bubble_DownloadLog_Block</class>
            </bubble_downloadlog>
        </blocks>
        <helpers>
            <bubble_downloadlog>
                <class>Bubble_DownloadLog_Helper</class>
            </bubble_downloadlog>
        </helpers>
        <models>
            <bubble_downloadlog>
                <class>Bubble_DownloadLog_Model</class>
                <resourceModel>bubble_downloadlog_resource</resourceModel>
            </bubble_downloadlog>
            <bubble_downloadlog_resource>
                <class>Bubble_DownloadLog_Model_Resource</class>
                <entities>
                    <download_log><table>bubble_download_log</table></download_log>
                </entities>
            </bubble_downloadlog_resource>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Bubble_DownloadLog>
                    <files>
                        <default>Bubble_DownloadLog.csv</default>
                    </files>
                </Bubble_DownloadLog>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_DownloadLog before="Mage_Adminhtml">Bubble_DownloadLog_Adminhtml</Bubble_DownloadLog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>